  .container {
    background:url(images/bg.jpg)  no-repeat;
     /* background:white; */
    background-size: 100% 100%;
    height: 500px;

  }

  .banner {
    height: 180px;
    text-align: center;
    overflow: hidden;
    margin: 30px;
    line-height: 30px;
    text-shadow: #fff 1px 1px 1px;
    background: url(images/banner_top.jpg) no-repeat -90px center;
    color: #333;
    padding: 40px 0 0 0
  }